.game-board {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-basis: bottom left;
    box-sizing: content-box;
    width: 800px;
    margin: auto;
}
galeo-chunk {
    width: 400px;
}