@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@font-face {
  font-family: Alagard;
  src: url('/assets/fonts/alagard/alagard.ttf');
}

/* You can add global styles to this file, and also import other style files */
* {
  font-family: Alagard;
  color:white;
}
body {
  background-image: url('/assets/images/chunkterrain/woodfloor.jpg');
}
a {
  text-decoration: none; 
}
a:hover {
  text-decoration: underline;
}